*{
    margin:0px;
    padding:0;
}

body{
    width: 100%;
}
header{
    background-color: rgb(240, 149, 110);
    width: 100%;
   
  
}
.navbar{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    
}
h1{
    color:rgb(194, 147, 147);
    font-family: 'WindSong', cursive;
    font-size: 50px;
    margin-left: 35%;
    margin-top:5%;
}
h2{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.error{
 font-size: 80px;
 display: flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 font-family:'Dosis', sans-serif;
 
}
h3{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

}
h4 a{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-decoration: none;
    color: black;
   
}
h6 p{
    display: inline-block;
}
#logo_carrito{
    font-size: 25px;
}
.camion{
    width: 5%;
    padding: 5px;
    margin-left: 1%;
   
}
.envios ul{
    
    list-style: none;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    margin: 6%;
    text-align: center;

    
}

.envios ul li{
margin:2%;



}
.envios_p{
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    margin-left: 3%;
    color:rgb(6, 4, 7);
    
    
    
    
}
.contenedor_fotos{
    width: 100%;
    background-color: rgb(250, 245, 199);
    padding: 2%;
    
    
}
.contenedor_fotos a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 20px;
}
.contenedor_todo div{
    width: 100%;
    display: flex;
    display: inline-block;
    margin-top: 5%;
}

.texto_foto{
    margin-top: 3%;
    font-size: 25px;
    margin-left:20px;
    padding: 100px;
    font-family: 'Dosis', sans-serif;
   
    
   

}
.pic{
    border-radius: 2%;
    width: 30%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
  
    
   
}

.nav-item:hover{
    text-decoration: underline;
}
footer{
   
    background-color: rgb(228, 124, 124,0.3);
    width: 100%;
    height: auto;
    bottom:0;
    font-family: 'Dosis', sans-serif;
   

}


.contacto{
   font-size: 20px;
   justify-content: center;
   align-items: center;
   margin:30px;
}

.contenedor_contacto{
    display: flex;
    align-items: center;
    margin:20px 0 0 10px;
    
}
footer div p{
    font-size: 15px;
}


.contenedor_logos{
    margin:0px 40px 0px 40px;
   

}
.contenedor_logos img{
    width: 20px;
    margin: 10px;
}

.derechos_footer{
    bottom: 0;
    display:flex;
    justify-content:center;
    
    
}
.lista_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 0px 0px 50px;
}
.lista_menu a{
    margin:10px;
    display: flex;
    display: inline-block;
    text-decoration: none;
    color: black;
   
}

.contenedor_cards{
    width: 80%;
}
.card{
    margin:40px 0px 40px 0px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    
} 
    

.card img{
    padding: 10px;
    height: 100%;
    object-fit: cover;
}
#stock{
    background-color: rgb(60, 126, 211);
    color:white;
    margin:40px;
    margin-left: 40%;
}
#stock.no{
    background-color: lavender;
    font-size: 5px;
    padding: 30px;
    margin-left: 25%;
}
#info{
    width: 70%;
    padding: 10px;
    
    border-radius: 10%;
    margin-left: 20%;
}

.lista ul{
    
    list-style: none;
    font-size: 30px;
    float: center;
    font-family: 'Dosis', sans-serif;
    margin-left: 32%;
}
.lista ul li{
    margin:30px;
    
}
#covid{
    font-family: 'Dosis', sans-serif;
    color:red;
    text-decoration:underline;
    padding: 5%;
    text-align: center;
    
  
}
#covid p{
    margin:3%;
}

@media(max-width: 767px){
    footer{
      width: 100%;
      height: 100%;
      bottom:0;
  }
  .contenedor_general{
    width: 100%;
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px 10px 0px;
}
h2{
    font-size: 25px;
}
.envios{
    margin-bottom: 20%;
}
.envios_p{
    font-size: 25px;
    margin-top:10%;
    margin-left: 10%;
    font-style: oblique;
    
}
.envios ul{
    
    list-style: none;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    
}
.envios ul li{
    margin-top:5%;
}
.camion{
    width: 40px;
    margin:10px;
}
.contenedor_contacto{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}
.contenedor_logos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px;

}
.contenedor_logos img{
    margin:5px;
    
}
.lista_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:20px 0px 30px 20px;
    
    
}

.contenedorP{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin:20px;
}
.contenedorP p{
    margin:10px;
}
.contenedor_cards{
    width: 100%;
}
.card{
    margin-left: 0px;
    width: 100%;
}


.contenedor_fotos p{
   font-size: 20px;
   margin: 0px;
   margin-bottom: 10%;
   padding: 0;
}
.contenedor_fotos a{
    font-size: 20px;
    margin:20%
}
.lista ul{
    margin-left:25%;
}
.lista ul li{
   margin-left: 0;
   font-size: 25px;
}
  }


